.header {
    text-align: center;
    padding: 0 550px;
    position: relative;
  }
  
  .logoContainer {
    display: inline-block;
    cursor: pointer;
  }
  
  .logo {
    cursor: pointer;
  }
  
  .logoutButton {
    position: absolute;
    right: 550px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    box-sizing: border-box;

    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-right: 5px;

    width: 100px;
    height: 30px;

    background: #2C2C2C;
    border: 1px solid #2C2C2C;
    border-radius: 8px;
    color: #fafafa;

    
    text-align: center;
    text-decoration: none; 
    display: flex;
    align-items: center;
    justify-content: center;


  }


.logoutButton:hover {
    background: #3c3c3c;
    cursor: pointer;
}