
.login-header {
    width: 213px;
    height: 20.4px;

    margin: 100px auto;
    margin-bottom: 40px;
    text-align: center;
}


.mypage-header>img {
    width: 50px;
    height: 50px;

    margin: 20px 0;
}

.user-info {
    margin: 0 auto;

    /* Form Register */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 30px;

    width: 416px;
    min-width: 320px;
    height: 327px;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.mail-addr>input {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    margin-top: 5px;

    width: 320px;
    height: 10px;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}
.password>input {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    margin-top: 5px;

    width: 320px;
    height: 10px;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.nickn>input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    margin-top: 5px;

    width: 320px;
    height: 10px;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.sex {
    display: flex;
    width: 100%;
}

.select-sex>input {
    margin: 0 15px;
}

.select-sex {
    margin-left: 100px;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns>a>button,.btns>a {
    /* Button */
    text-decoration: none;
    box-sizing: border-box;

    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-right: 5px;

    width: 178px;
    height: 40px;

    background: #2C2C2C;
    border: 1px solid #2C2C2C;
    border-radius: 8px;
    color: #fafafa;

    
    text-align: center;
    text-decoration: none; 
    display: flex;
    align-items: center;
    justify-content: center;
}


.btns>a>button:hover,.btns>a:hover{
    background: #3c3c3c;
    cursor: pointer;
}




