/* ----------------------------- */
input::placeholder {
    color: #707070;
}

textarea::placeholder {
    color: #ff1414;
}

input[readonly] {
    color: #D9D9D9;
    cursor: not-allowed;
}
input[readonly]:hover {
    box-shadow: none;
}

body {
    /* Body Base */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    color: #1E1E1E;
}

[type="radio"]:focus-visible {
    outline: max(2px, 0.1em) dotted rgb(211, 211, 211);
    outline-offset: max(2px, 0.1em);
}

[type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    cursor: pointer;
}

/* ----------------------------- */

.mypage-header {
    width: 213px;
    height: 160.4px;

    margin: 100px auto 40px auto;
    text-align: center;
}

.mypage-header>img {
    width: 50px;
    height: 50px;

    margin: 20px 0;
}

.user-info {
    margin: 0 auto;

    /* Form Register */
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 30px;

    width: 416px;
    min-width: 320px;
    height: 100%;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
}

.mail-addr>input {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    margin-top: 5px;

    width: 320px;
    height: 10px;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;

    /* outline: none; */
}

.nickn > input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    margin-top: 5px;

    width: 320px;
    height: 10px;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 8px;

    /* outline: none; */
}

.nickn>input::placeholder {
    color: #D9D9D9;
}

.gender {
    display: flex;
    width: 100%;
}

.select-sex>input {
    margin: 0 15px;
}

.select-sex {
    margin-left: 100px;
}

[type="radio"]:hover {
    box-shadow: none;
    cursor: pointer;
  }

  .btns>button,.btns>a {
    /* Button */
    text-decoration: none;
    box-sizing: border-box;

    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-right: 5px;

    width: 178px;
    height: 40px;

    background: #2C2C2C;
    border: 1px solid #2C2C2C;
    border-radius: 8px;
    color: #fafafa;

    
    text-align: center;
    text-decoration: none; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns>a:hover,
.btns>button:hover {
    background: #3c3c3c;
    cursor: pointer;
}

.btns {
    display: flex;
}